<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CA106G2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
    <!-- 使用資料庫連線池 DataSource-JNDI的設定 -->
    <!-- Servers設定：<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxIdle="10" maxTotal="20" maxWaitMillis="-1" name="jdbc/goodhouse" password="123456" type="javax.sql.DataSource" url="jdbc:oracle:thin:@localhost:1521:XE" username="GOODHOUSE"/>  -->
	<!-- 連線池設定 -->
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/goodhouse</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
	
	<!-- 房屋評價註冊 -->
	<servlet>
		<servlet-name>House_EvaluateServlet</servlet-name>
		<servlet-class>com.goodhouse.house_evaluate.controller.House_EvaluateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>House_EvaluateServlet</servlet-name>
		<url-pattern>/front/house_evaluate/house_evaluate.do</url-pattern>
	</servlet-mapping>
	
	<!--合約分類註冊  -->
	<servlet>
		<servlet-name>Contract</servlet-name>
		<servlet-class>com.goodhouse.contract.controller.ContractServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Contract</servlet-name>
		<url-pattern>/back/contract/contract.do</url-pattern>
	</servlet-mapping>
	
	<!-- 電子合約註冊 -->
	<servlet>
		<servlet-name>Eel_Contract</servlet-name>
		<servlet-class>com.goodhouse.ele_contract.controller.Ele_ContractServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Eel_Contract</servlet-name>
		<url-pattern>/back/ele_contract/ele_contract.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Eel_Contract</servlet-name>
		<url-pattern>/front/ele_contract/ele_contract.do</url-pattern>
	</servlet-mapping>
	
	<!--帳單註冊  -->
	<servlet>
		<servlet-name>Bill</servlet-name>
		<servlet-class>com.goodhouse.bill.controller.BillServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Bill</servlet-name>
		<url-pattern>/front/bill/bill.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Bill</servlet-name>
		<url-pattern>/back/bill/bill.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Bill</servlet-name>
		<url-pattern>/front/ele_contract/bill.do</url-pattern>
	</servlet-mapping>
	
	<!-- 申請合約處理註冊 -->
	<servlet>
		<servlet-name>Apply_Conturct</servlet-name>
		<servlet-class>com.goodhouse.apply_conturct.controller.Apply_ConturctServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Apply_Conturct</servlet-name>
		<url-pattern>/front/ele_contract/apply_conturct.do</url-pattern>
	</servlet-mapping>
	
	<!-- 積分商城註冊 -->
	<servlet>
	    <servlet-name>PointgoodsServlet</servlet-name>
	    <servlet-class>com.goodhouse.pointgoods.controller.PointgoodsServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>PointgoodsServlet</servlet-name>
    	<url-pattern>/back/pointgoods/pg.do</url-pattern>
  	</servlet-mapping>
  
  <!-- 積分商城照片註冊 -->
  	<servlet>
    	<servlet-name>PointgoodsServletPicture</servlet-name>
    	<servlet-class>com.goodhouse.pointgoods.controller.PointgoodsServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>PointgoodsServletPicture</servlet-name>
    	<url-pattern>/PointgoodsServlet</url-pattern>
  	</servlet-mapping>
  
  <!-- 積分商城訂單註冊 -->
  	<servlet>
    	<servlet-name>Good_ordServlet</servlet-name>
    	<servlet-class>com.goodhouse.good_ord.controller.Good_ordServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
   		<servlet-name>Good_ordServlet</servlet-name>
    	<url-pattern>/back/good_ord/go.do</url-pattern>
  	</servlet-mapping>

   <!-- 房屋註冊 前端 -->
  <servlet>
    <servlet-name>FrontHouseServlet</servlet-name>
    <servlet-class>com.goodhouse.house.controller.HouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontHouseServlet</servlet-name>
    <url-pattern>/front/house/hou.do</url-pattern>
  </servlet-mapping>
  
   <!-- 房屋註冊 -->
  	<servlet>
    	<servlet-name>HouseServlet</servlet-name>
    	<servlet-class>com.goodhouse.house.controller.HouseServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>HouseServlet</servlet-name>
    	<url-pattern>/back/house/hou.do</url-pattern>
  	</servlet-mapping>
  
 <!-- 房屋圖片-->
  	<servlet>
  		<servlet-name>HouseServletPicture</servlet-name>
  		<servlet-class>com.goodhouse.house.controller.HouseServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>HouseServletPicture</servlet-name>
  		<url-pattern>/HouseServlet</url-pattern>
  	</servlet-mapping>
  
   <!-- 帳號檢舉註冊 -->
  	<servlet>
      	<servlet-name>Account_reportServlet</servlet-name>
    	<servlet-class>com.goodhouse.account_report.controller.Account_reportServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>Account_reportServlet</servlet-name>
    	<url-pattern>/back/account_report/acre.do</url-pattern>
  	</servlet-mapping>
  
   <!-- 廣告檢舉註冊 -->
  	<servlet>
  		<servlet-name>Ad_reportServlet</servlet-name>
  		<servlet-class>com.goodhouse.ad_report.controller.Ad_reportServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>Ad_reportServlet</servlet-name>
  		<url-pattern>/back/ad_report/ad_rep.do</url-pattern>
  	</servlet-mapping>
   <!-- 廣告註冊 -->
  <servlet>
  	<servlet-name>AdServlet</servlet-name>
  	<servlet-class>com.goodhouse.ad.controller.AdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdServlet</servlet-name>
  	<url-pattern>/back/ad/ad.do</url-pattern>
  </servlet-mapping>  	
  
  <!--租屋問題註冊  -->
	<servlet>
	    <servlet-name>RentMessServlet</servlet-name>
	    <servlet-class>com.goodhouse.rental_message.controller.RentMessServlet</servlet-class>
  	</servlet>
 	<servlet-mapping>
	    <servlet-name>RentMessServlet</servlet-name>
	    <url-pattern>/back/rentMess/rentMess.do</url-pattern>
  	</servlet-mapping>
  <!--設備維修註冊  -->
  	<servlet>
	    <servlet-name>EquRepServlet</servlet-name>
	    <servlet-class>com.goodhouse.equipment_repair.controller.EquRepServlet</servlet-class>
 	 </servlet>
  	<servlet-mapping>
	    <servlet-name>EquRepServlet</servlet-name>
	    <url-pattern>/back/equRep/equRep.do</url-pattern>
  	</servlet-mapping>
  <!--房屋不可預約註冊  -->
  	<servlet>
	    <servlet-name>HouNoAppServlet</servlet-name>
	    <servlet-class>com.goodhouse.house_noappointment.controller.HouNoAppServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
	    <servlet-name>HouNoAppServlet</servlet-name>
	    <url-pattern>/back/houNoApp/houNoApp.do</url-pattern>
  	</servlet-mapping>
  <!--預約看房註冊  -->
  	<servlet>
	    <servlet-name>AppointServlet</servlet-name>
	    <servlet-class>com.goodhouse.appointment.controller.AppointServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
	    <servlet-name>AppointServlet</servlet-name>
	    <url-pattern>/back/appoint/appoint.do</url-pattern>
  	</servlet-mapping>
  <!--通知訊息註冊  //git上傳註解用無意義-->
  	<servlet>
	    <servlet-name>NoticeServlet</servlet-name>
	    <servlet-class>com.goodhouse.notice.controller.NoticeServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
	    <servlet-name>NoticeServlet</servlet-name>
	    <url-pattern>/back/notice/notice.do</url-pattern>
  	</servlet-mapping>
  	
  	<!--會員濾器註冊  -->	
  	<filter>
    <filter-name>frontLoginFilter</filter-name>
    <filter-class>frontFilters.FrontLoginFilter</filter-class>
  	</filter>
  	<filter-mapping>
    	<filter-name>frontLoginFilter</filter-name>
    	<url-pattern>/front/member/listOneMem.jsp</url-pattern>
    	<dispatcher>REQUEST</dispatcher>
    	<dispatcher>FORWARD</dispatcher>
    	<dispatcher>INCLUDE</dispatcher>
    	<dispatcher>ERROR</dispatcher>
    	<dispatcher>ASYNC</dispatcher>
  	</filter-mapping>
  
     <!--後台員工濾器註冊  -->
  	<filter>
    	<filter-name>backLoginFilter</filter-name>
    	<filter-class>backFilters.BackLoginFilter</filter-class>
  	</filter>
  	<filter-mapping>
    	<filter-name>backLoginFilter</filter-name>
    	<url-pattern>/back/employee/select_page.jsp</url-pattern>
    	<dispatcher>REQUEST</dispatcher>
    	<dispatcher>FORWARD</dispatcher>
    	<dispatcher>INCLUDE</dispatcher>
    	<dispatcher>ERROR</dispatcher>
    	<dispatcher>ASYNC</dispatcher>
  	</filter-mapping>
  
</web-app>